.header-section {
  @include desktop {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
.main-header {
  padding-bottom: 1rem;
  border-bottom: 1px dotted lighten($primary, 50%);
  .social-menu {
    ul {
      display: flex;
      margin-top: 1rem;
      @include tablet {
        justify-content: flex-end;
      }
      li {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
    i {
      font-size: 1.5rem;
      transition: 0.5s color;
      &:hover {
        color: $secondary;
      }
      @include tablet {
        font-size: 3rem;
      }

    }
  }
}
@import 'navigation';
