@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700|Open+Sans:400,600');
@import 'variables';
@import 'node_modules/bulma/bulma';

html, body {
  height: 100%;
}
.is-hero {
  background: darken($primary, 10%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
  h1.title, h2.subtitle {
    color: $white;
  }
}
@import 'header';
